# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\idea_project\spring-boot-02-config-02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
